#design
    padding: 50px 0
    background-color: rgb(248, 249, 250)
    .minibox
        width: 295px
        h1
            font-weight: 700
            font-size: 50px
            margin-bottom: 20px
        p
            opacity: 0.7
            line-height: 1.4
            font-size: 22px
    .imgbox
        width: 425px
        img
            border-radius: 50%

    @media screen and ( max-width: 992px )
        .minibox
            h1
                font-size: 40px
            p
                font-size: 20px
        .imgbox
            width: 350px
    @media screen and ( max-width: 768px )
        .minibox
            width: 527px
            text-align: center
            margin-bottom: 20px
    @media screen and ( max-width: 576px )
        .minibox
            width: 400px
            h1
                font-size: 30px
            p
                font-size: 16px
        .imgbox
            width: 300px
        
        
