#single
    padding: 70px 0
    background-color: #5f29c4
    .textbox
        p
            color: #ffff
            font-size: 50px
            margin-bottom: 30px
            position: relative
        .imgbox
            position: absolute
            left: 44%
            width: 100px

    @media screen and ( max-width: 768px )
        .textbox
            p
                font-size: 35px
            .imgbox
                left: 295px
    @media screen and ( max-width: 576px )
        .textbox
            .imgbox
                left: 226px
